<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: load">

</head>
<body>
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">400</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Authentication fail </p>
        <p class="lead">
            사용자 인증에 실패했습니다. 로그인을 다시 진행해주세요
        </p>
        <a th:href="@{/login}" class="btn btn-primary">Go Login</a>
    </div>
</div>
</body>
</html>